@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.home {
  position: relative;
}

.background_picture {
	opacity: 0.7;
  position: relative;
}

.logo {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 30%;
}

.happy_hour_picture {
  position: absolute;
  top: 70%;
  right: 1%;
}


.schedule {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.3vw;
    border-radius: 10px;
    background-color: rgb(98,94,91);
    padding:10px;
    top: 93%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: -16px;
}

.navbar {
    
    border: 1px solid transparent;
    background-color: #333025;
    margin-bottom: 0px;
    border-radius: 0px;
}


.navbar-nav > li {
    float: left;
    font-size: 1.2vw;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #D1860D;
    background-color: transparent;
    border-bottom: 2px solid #D1860D;
    padding-bottom: 5px;
}

.beer {
	background-color: #737373;
}

.beer_list {
	background-color: #737373;
	margin-top: 30px;

}

.section_title {
	font-size: 3em;
	color: #D1860D;
	font-weight: bold;
  margin-left: -100px;
  font-family: 'Comfortaa', cursive;
}

.title-beer {
	font-size: 2em;
	list-style-type: none;
	color: #333025;
	font-weight:bold;
}

.blondes_list, .ambrees_list, .blanches_list, .brunes_list{
	font-size: 1.5em;
	list-style-type: none;
	color: #333025;
  margin-left: 20px;
  font-family: 'Indie Flower', cursive;
}

.beer_size {
	font-size: 1.3em;
	color: #333025;
	margin-top: 20px
}

.other_choice {
	font-size: 2em;
	color: #333025;
	margin-left: 520px;
	margin-top: 20px;
}

.beer-picture {
  padding: 0px;
}

@media all and (max-width: 1024px)
{
  .logo {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 17%;
  }

  .happy_hour_picture {
  position: absolute;
  top: 60%;
  right: 1%;
  }

  .schedule {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.9vw;
    border-radius: 10px;
    background-color: rgb(98,94,91);
    padding: 2px;
    top: 91%;
    left: 2%;
  }

}


/*charlotte*/


.comptoir {
  background-color: #6a2c0c;
}

.comptoir ul {
  color: #f18e1c;
}

.title1 {
  color: #cb5909;
  font-size: 2vw;
  top: 20px;
}

.title2 {
  color: #cb5909;
  text-transform: uppercase;
  font-size: 3vw;
  text-align: right;
  top: 20px;
}

.carte {
  top: 40px;
}

.comptoir h3 {
  color: #1b100d;
  font-size: 2vw;
  text-align: left;
}

.price {
  color: #cb5909;
}

.comptoir ul {
  list-style-type: none;
}

.comptoir  ul span {
  font-size: 1.5vw;
  color: #cb5909;
}

.comptoir ul {
  font-size: 1vw;
}

.photosBar h3 {
  font-size: 40px;
  background-color: #cb5909;
  border-radius: 20px;
}

.photosBar p {
  font-size: 25px;
  background-color: #f18e1c;
  border-radius: 20px;
}

.jeuxHidden {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

/*chris*/
footer {
    background-color: white;
    color: black;
    padding: 10px;
}

/*.nh {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #D1860D;
    color: darkslategrey;
    font-size: 3em;
    padding: 20px;
}*/

.notrehistoire {
    color: #D1860D;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: bold;
}



.staff {
    vertical-align: middle;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px;
    background-image: url("https://img11.hostingpics.net/pics/782862bois650500.jpg"); 
}

.staff .title {
  text-transform: uppercase;
  color: #cb5909;
}

.staff h3 {
  color: #f18e1c;
}

.texteHistoire {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: justify;
  padding: 30px;
  border-radius: 30px;
  color: #1b100d;
}

.pictures {
  top: 120px;
}

.pratik {
    vertical-align: middle;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    background-color: white;
    color: #737373;
    padding: 10px;
}

.dev {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #333025;
    color: white;
    padding: 10px;
}


/*background-image: url("https://img11.hostingpics.net/pics/782862bois650500.jpg");*/

