@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.home {
  position: relative;
  padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: -16px;
}

.background_picture {
	opacity: 0.7;
  position: relative;
}

.logo {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 30%;
}

.happy_hour_picture {
  position: absolute;
  top: 70%;
  right: 1%;
}


.schedule {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.3vw;
    border-radius: 10px;
    background-color: rgb(98,94,91);
    padding:10px;
    top: 93%;
}

.navbar {
    
    border: 1px solid transparent;
    background-color: black;
    margin-bottom: 0px;
    border-radius: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#navbar {
  overflow: hidden;
  z-index: 1000;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #D1860D;
    background-color: transparent;
}

.beer {
	background-color: black;
	background-image: url("images/tileable-wood.png");
}

.beer h3 {
  color: #cb5909;
  font-size: 2vw;
  text-align: left;

}

.titleBeer {
	font-size: 3vw;
  color: #f18e1c;
}

.beer ul {
    font-family: 'Indie Flower', cursive;
}


.beer li {
	list-style-type: none;
  color: white;
  font-size: 2vw;
  font-weight: bold;
}

.beerSize {
	font-size: 1.5vw;
  color: #1b100d;
}

.comm1 {
	color: #f18e1c;
  font-size: 2vw;
  font-style: italic;
  font-family: 'Indie Flower', cursive;
}

.beerPicture {
	padding-left: 0;
	padding-right: 0;
}

@media all and (max-width: 720px)
{
  .logo {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 17%;
  }

  .background_picture {
  opacity: 0.7;
  position: relative;
  height: 175px;
}

  .happy_hour_picture {
  position: absolute;
  top: 60%;
  right: 1%;
  }

  .schedule {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.9vw;
    border-radius: 10px;
    background-color: rgb(98,94,91);
    padding: 2px;
    top: 91%;
    left: 2%;
  }

  .navbar-nav > li {
    margin-left: 15px;
  }

  .navbar {
    
    border: 1px solid transparent;
    background-color: black;
    margin-bottom: 0px;
    border-radius: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    }

}


/*charlotte*/


.comptoir {
  background-image: url("images/dark_wood.png");
}

.cocktails {
	padding-left: 0;
	padding-right: 0;
}

.comm2 {
  color: #f18e1c;
  font-size: 2vw;
  top: 20px;
  font-family: 'Indie Flower', cursive;
  font-style: italic;
}

.title2 {
  color: #cb5909;
  text-transform: uppercase;
  font-size: 3vw;
  text-align: right;
  top: 20px;
  padding-left: 0px;
}

.marginDroite {
  margin-right: 0;
  margin-left: 0;
}

.carte {
  top: 40px;
  padding: 0;
}

.comptoir h3 {
  color: white;
  font-size: 2vw;
  text-align: left;
}

.price {
  color: #cb5909;
}

.comptoir ul {
  list-style-type: none;
  font-size: 1vw;
  color: #f18e1c;
  font-family: 'Indie Flower', cursive;
}

.comptoir  ul span {
  font-size: 1.5vw;
  color: #cb5909;
}

.photosBar h3 {
  font-size: 40px;
	background-image: url("images/dark_wood.png");
	opacity: 0.9;
	color: white;
}

.photosBar p {
  font-size: 25px;
	background-image: url("images/dark_wood.png");
	opacity: 0.9;
	color: white;
}

.jeuxHidden {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

/*chris*/
footer {
    background-color: white;
    color: black;
    padding: 10px;
}

/*.nh {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #D1860D;
    color: darkslategrey;
    font-size: 3em;
    padding: 20px;
}*/

.notrehistoire {
    color: #D1860D;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: bold;
}



.staff {
    vertical-align: middle;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px;
    background-image: url("https://img11.hostingpics.net/pics/782862bois650500.jpg"); 
}

.staff .title {
  text-transform: uppercase;
  color: #cb5909;
}

.staff h3 {
  color: #f18e1c;
}

.texteHistoire {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: justify;
  padding: 30px;
  border-radius: 30px;
  color: #1b100d;
}

.pictures {
  top: 120px;
}

.pratik {
    vertical-align: middle;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    background-color: white;
    color: #737373;
    padding: 10px;
}

.dev {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #333025;
    color: white;
    padding: 10px;
}


/*background-image: url("https://img11.hostingpics.net/pics/782862bois650500.jpg");*/

