.enter {
	background-image: url("images/fond_biere_1.jpg");
	background-repeat: no-repeat;
	opacity: 0.7;
	height: 720px;
}

.bloc_logo {
    margin-top: -550px;
}


.schedule {
    margin-top: 65px;
    text-align: center;
    color: #D1860D;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(98,94,91);
}

.happy_hour {
	margin-top: -105px;
}

.hidden_happy_hour {
	color: #D1860D;
	background-color: rgb(98,94,91);
} 


.schedule_bloc {
	margin-top: -300px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
}

.navbar-collapse {
	background-color: #333025;
}

.navbar-nav > li {
    float: left;
    font-size: 1em;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #D1860D;
    background-color: transparent;
    border-bottom: 2px solid #D1860D;
    padding-bottom: 5px;
}

.beer {
	background-color: #737373;
}

.beer_list {
	background-color: #737373;
	margin-top: 30px;

}

.section_title {
	font-size: 3em;
	color: #D1860D;
	font-weight: bold;
}

.title-beer{
	font-size: 2em;
	list-style-type: none;
	color: #333025;
	font-weight:bold;
}

.blondes_list, .ambrees_list, .blanches_list, .brunes_list{
	font-size: 1.5em;
	list-style-type: none;
	color: #333025;
}

.beer_size {
	font-size: 1.3em;
	color: #333025;
	margin-top: 20px
}

.other_choice {
	font-size: 2em;
	color: #333025;
	margin-left: 520px;
	margin-top: 20px;
}
/*charlotte*/

#comptoir {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #fba858;
}

#intro {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2em;
  color: white;
}

#title {
  font-size: 4em;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 30px;
  color: white;
}

#menuBoissons .tab-content {
  color : grey;
  background-color: white;
  padding : 5px 15px;
  height: 510px;
}

/* remove border radius for the tab */

#menuBoissons .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#menuBoissons .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#menuBoissons {
  margin-left: -10px;
  margin-right: -10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: grey;
}

.nav-pills>li>a {
  text-transform: uppercase;
  font-size: 2em;
}

#cocktails h3, #sansAlcool h3, #softs h3 {
  text-transform: uppercase;
  color: #fba858;
  margin: 40px;
  font-size: 3em;
  background-color: grey;
  padding: 10px;
}

#cocktails li, #sansAlcool li, #softs li {
  list-style-type: none;
  font-size: 3em;
}

#comptoir span {
  color: #fba858;
  text-transform: uppercase;
}

aside {
  height: 750px;
  background-image: url('images/cocktail(1).jpg');
  background-repeat: no-repeat;
}

.price {
  float: right;
}

.photosBar {
  margin-left: -15px;
  margin-right: -15px;
}

/*.carousel-caption h3 {
  font-size: 3em;
  background-color: #fba858;
  border-radius: 10px;
}

.carousel-caption p {
  font-size: 2em;
  background-color: #fba858;
  border-radius: 10px;
}*/

/*chris*/
footer {
    background-color: white;
    color: black;
    padding: 10px;
}

#nh {
    background-color: white;
    color: darkslategrey;
    padding: 10px;
}

#pratik {
    background-color: white;
    color: darkslategrey;
    padding: 10px;
}

#staff {
    background-color: #fba858;
    color: darkslategrey;
    padding: 10px;
}

#dev {
    background-color: #fba858;
    color: white;
    padding: 10px;
}

