.row {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
}

body {

    padding-top: 10px;
}



footer {
    background-color: white;
    color: black;
    padding: 10px;
}

#nh {
    background-color: white;
    color: darkslategrey;
    padding: 10px;
}

#pratik {
    background-color: white;
    color: darkslategrey;
    padding: 10px;
}

#staff {
    background-color: #fba858;
    color: darkslategrey;
    padding: 10px;
}

#dev {
    background-color: #fba858;
    color: white;
    padding: 10px;
}


/*div class {
    border-radius: 45;
    overflow: hidden;
}

div {
    background-color: #fba858;
    color: black;
    padding: 10px;
}*/